{% extends 'base.html' %}
{% load static %}

{% block title %}Despre Noi{% endblock %}

{% block content %}
<!-- Secțiunea Despre Noi -->
<section id="about" class="about-section">
    <div class="container bg-lightgray  pt-5" data-aos="fade-up" data-aos-duration="1500">
        <h2 class="text-center fade-in p-3" data-aos="fade-down" data-aos-duration="1500">Despre Noi</h2>

        <!-- Separator-->
        <div class="separator-container">
            <i class="bi bi-file-earmark-person"></i>
        </div>
        <!-- Separator End -->

        <div class="row g-5 align-items-end mb-4">
            <!-- Imaginea din stânga -->
            <div class="col-md-4">
                <img src="{% static 'images/about-us1.jpg' %}" alt="Despre Noi 1" class="img-thumbnail about-image-left">
            </div>
            <div class="col-md-8">
                <h3 class="p-4">Chitaristii de la Arges</h3>
                <p>La Chitaristii de la Arges, suntem mândri să fim lideri în domeniul educației muzicale, oferind o experiență unică pentru toți iubitorii de chitară. Echipa noastră de experți este formată din muzicieni pasionați și pedagogi de elită, care au dedicat ani întregi perfecționării artei lor și formării noilor talente.</p>
            </div>
        </div>
        <hr class="py-1">
        <div class="row g-5 align-items-start mb-5">
            <!-- Imaginea din dreapta -->
            <div class="col-md-8">
                <p>Credem cu tărie că muzica are puterea de a schimba vieți. De aceea, ne angajăm să furnizăm lecții personalizate care să inspire și să dezvolte abilitățile fiecărui student într-un mod inovativ și captivant. Fiecare membru al echipei noastre este dedicat să împărtășească cunoștințele acumulate și să sprijine dezvoltarea personală și profesională a elevilor noștri.</p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/about-us2.jpg' %}" alt="Despre Noi 2" class="img-thumbnail about-image-right">
            </div>
        </div>

        <!-- Separator-->
        <div class="separator-container">
            <i class="bi bi-award"></i>
        </div>
        <!-- Separator End -->

    </div>
</section>
{% endblock %}

