{% extends 'base.html' %}
{% load static %}

{% block title %}Despre Profesor{% endblock %}

{% block content %}
<!-- Secțiunea Despre Profesor -->
<section id="teacher" class="teacher-section">
    <div class="container bg-lightgray pt-5" data-aos="fade-up" data-aos-duration="1500">
        <h2 class="text-center p-3" data-aos="fade-down" data-aos-duration="1500">Despre Profesorul de Chitară</h2>

        <!-- Separator-->
        <div class="separator-container">
            <i class="bi bi-person-vcard"></i>
        </div>
        <!-- Separator End -->

        <div class="row">
            <div class="col-md-4">
                <img src="{% static 'images/Matei_Constantin.jpg' %}" alt="Profesor de Chitară" class="img-thumbnail">
            </div>
            <div class="col-md-8 bg-lightgray">
                <h3 class="p-4">Profesorul Matei Constantin</h3>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cristi Matei este primul chitarist din România cu atestat de Flamenco, absolvent al Academiei de Chitară Flamenco din Florența, Italia, și de 15 ani activează ca profesor de chitară la Școala Populară de Arte și Meserii Pitești. S-a născut în Curtea de Argeș, acolo unde își desfășoară activitatea didactică acum.</p>
                <p>„Alchimistul” de Paulo Coelho: „Când îţi doreşti ceva cu adevărat, tot universul conspiră pentru îndeplinirea visului tău”.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
