/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('animations.css');
@import url('modal_slider.css');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: #f9f9f9;
    overflow: auto;
}

hr {
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.5), rgba(0,0,0,0.1));
    color: #33373c;
    border: none;
    height: 1px;
    margin: 40px 0;
    vertical-align: middle;
}

/* Header */
header {
    background: #007bff;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

/* Separator */
.separator-container {
    text-align: center;
    margin: 40px 0;
    position: relative;
}
.separator-container::before,
.separator-container::after {
    content: "";
    display: inline-block;
    width: 45%;
    height: 1px;
    background: linear-gradient(to right, rgba(0, 123, 255, 0.3), rgba(0, 123, 255, 0.7), rgba(0, 123, 255, 0.3));
    vertical-align: middle;
}
.separator-container i {
    position: relative;
    padding: 0 15px;
    font-size: 24px;
    color: #007bff;
    background: transparent;
}
/* ------Separator End --------------- */

h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Parametrii pentru umbră */
}

/* Navbar */
.navbar-brand {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-brand .fa-guitar {
    font-size: 2rem; /* Dimensiunea iconului chitară */
    margin-right: 10px; /* Spațiu între icon și text */
}

.nav-link {
    color: #ffffff;
    font-weight: bold;
}

.nav-link:hover {
    color: #aab7b8;
}

/* Pagination Controls */
.pagination-container {
    margin-top: 20px; /* Adds space above the pagination */
}

.pagination {
    display: inline-flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.page-item {
    margin: 0;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin: 0;
    line-height: 1.25;
    color: #007bff;
    text-align: center;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}
/* ------------------------------- */

/* Hero Section Styles */
.hero-section {
    color: white;
    text-align: center;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; /* Hide overflow to prevent scrollbars */
}

/* Carousel Styles */
.carousel {
    width: 100%;
    height: 100%; /* Ensure carousel takes full height of the parent */
}

.carousel-inner {
    height: 100%; /* Ensure inner container takes full height */
}

.carousel-item {
    position: relative;
    height: 100vh; /* Full viewport height */
}

.carousel-item img {
    display: block;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    object-fit: cover; /* Cover the carousel area without stretching */
}

/* Overlay Styles */
.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 1; /* Below the caption but above the image */
}

/* Caption Styles */
.carousel-caption {
    position: absolute;
    bottom: 30%; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #ffffff;
    width: 100%;
    padding: 0 20px;
    z-index: 2; /* Above the overlay */
}

.carousel-caption h2 {
    font-size: 3rem; /* Adjust font size as needed */
    line-height: 1.2;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Parametrii pentru umbră */
}

.carousel-caption p {
    font-size: 1.25rem; /* Adjust paragraph font size */
    margin-bottom: 1.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); /* Parametrii pentru umbră */
}

.carousel-caption .btn-primary {
    background: linear-gradient(135deg, #40c9ff, #0061ff, #f8acff, #e81cff);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

/* Carousel Indicators Styles */
.carousel-indicators .active {
    background-color: #007bff; /* Color of the active dot */
}

/* Stiluri pentru secțiunea Despre Noi */
/* About Section Styles */
.about-section {
    background: linear-gradient(135deg, #a5ece3, #099773, #0288d1, #01579b);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    display: grid;
    row-gap: 50px;
    padding: 60px 0;
    color: #000;
}

.about-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.about-section .row {
    margin-bottom: 40px;
    padding: 15px;
    text-indent: 40px; /* Adaugă indentare textului */
}

.about-image-left {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    transform: perspective(1000px) rotateY(25deg) translateX(10px); /* Rotație de 25 de grade și mișcare în dreapta */
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); /* Umbra pentru efectul 3D */
}

.about-image-left:hover {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg); /* Inițializarea transformărilor */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4); /* Umbra mai pronunțată */
}

.about-image-right {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    padding: 0;
    transform: perspective(1000px) rotateY(-25deg) translateX(-10px); /* Rotație de 25 de grade și mișcare în dreapta */
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); /* Umbra pentru efectul 3D */
}

.about-image-right:hover {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg); /* Inițializarea transformărilor */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4); /* Umbra mai pronunțată */
}

.about-section p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
}


/* General Styles for Gallery Section */
.gallery-section {
    background: linear-gradient(135deg, #92cce3, #40c9ff, #db94e3, #e81cff);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    padding: 30px 0;
}

.separator-container {
    text-align: center;
    margin-bottom: 30px;
}

.separator-container i {
    font-size: 3rem;
    color: #007bff;
}

#filter-buttons {
    text-align: center;
}

#filter-buttons .btn {
    background-color: #ffffff;
    color: #007bff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

#filter-buttons .btn:hover {
    background-color: #007bff;
    color: #aab7b8;
}

#filter-buttons .btn-active {
    background-color: #007bff;
    color: white;
}

.photo-gallery, .video-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.photo-item, .video-item {
    width: 300px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

/* For images */
.photo-item img, .video-item img {
    width: 100%;
    height: 150px;
    object-fit: cover; /* Cover the container without stretching */
}

.gallery-item-content {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.gallery-item-content:hover .overlay {
    opacity: 1;
}

.overlay i {
    font-size: 2rem;
}

.overlay p {
    margin: 10px 0 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.modal-content {
    background: lightgrey;
}
/* Gallery End ----------------------------------------- */


/* Stiluri pentru secțiunea Evenimente */
.events-section {
    background: linear-gradient(135deg, #9bf8f4, #84ffc9, #aab2ff, #eca0ff);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    padding: 60px 0;
    height: 100vh;
}

.events-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.list-group-item {
    background: none;
}
.events-section .modal-content {
    background: lightgrey;
}

.events-section .modal-body img {
    height: 300px;
}
/* Events End ----------------------------------------- */

/* General Card Styles */
.card {
    background: lightgray;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
}

/* Image in Card */
.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* Overlay and Hover Effects */
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card:hover .card-overlay {
    opacity: 1;
}

/* Text inside Overlay */
.card-overlay .card-text {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Card End ----------------------------------------- */

/* Stiluri pentru secțiunea Profesor de Chitară */
.teacher-section {
    background: linear-gradient(135deg, #98eae3, #57ebde, #d0eca1, #aefb2a);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    padding: 60px 0;
}

.teacher-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.teacher-section img {
    border-radius: 15px;
    max-width: 100%;
    transform: perspective(1000px) rotateY(25deg) translateX(10px); /* Rotație de 25 de grade și mișcare în dreapta */
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); /* Umbra pentru efectul 3D */

}

.teacher-section img:hover {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg); /* Inițializarea transformărilor */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4); /* Umbra mai pronunțată */
}

.teacher-section .row {
    align-items: center;
    padding: 15px;
}

.teacher-section h3 {
    margin-top: 0;
}

.teacher-section p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.bg-lightgray {
    background: lightgray;
    padding: 60px 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
/* Teacher End ----------------------------------------- */

/* Stiluri pentru Contact */
.contact-section {
    background: linear-gradient(135deg, #40c9ff, #0061ff, #f8acff, #e81cff);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    padding: 60px 0;
}

.contact-section .container {
    background-color: lightgray;
}

.contact-info {
    padding: 10px;
}

.contact-info p {
    font-size: 1rem;
}

.map-container iframe {
    border-radius: 8px;
}
/* Contact End ----------------------------------------- */

/* Stiluri pentru modal */

/* Modal End ----------------------------------------- */

/* Stiluri pentru Footer */
footer {
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

/* Stiluri pentru icon-uri de social media */
.social-icons {
    margin: 10px 0;
}

.social-icon {
    color: #ffffff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #aab7b8; /* Culoare verde la hover */
}

/* Stiluri pentru Butonul Scroll-Up */
#scrollUpBtn {
    cursor: pointer;
    font-size: 24px;
    opacity: 0; /* Ascunde butonul inițial */
    transition: opacity 0.3s ease-in-out;
}

#scrollUpBtn.show {
    opacity: 1; /* Afișează butonul când este activat */
}
/* Footer End ----------------------------------------- */


/* Ecrane mari (peste 1200px) */
@media (min-width: 1200px) {
    .hero-section h2 {
        font-size: 4rem; /* Font mai mare pe ecrane mari */
    }

    .about-section h2 {
        font-size: 3rem; /* Font mai mare pe ecrane mari */
    }

    .gallery-title {
        font-size: 3rem; /* Font mai mare pentru titlurile din galerie */
    }

    .carousel-caption h2 {
        font-size: 4rem; /* Font mai mare pentru titlurile din carousel */
    }

    .carousel-caption p {
        font-size: 1.5rem; /* Font mai mare pentru descrierea din carousel */
    }

    .events-section h2 {
        font-size: 3rem; /* Font mai mare pentru titlurile din secțiunea Evenimente */
    }
}

/* Ecrane medii (între 992px și 1200px) */
@media (min-width: 992px) and (max-width: 1199px) {
    .hero-section h2 {
        font-size: 3.5rem; /* Font mediu pentru ecrane medii */
    }

    .about-section h2 {
        font-size: 2.8rem; /* Font mediu pentru ecrane medii */
    }

    .gallery-title {
        font-size: 2.8rem; /* Font mediu pentru titlurile din galerie */
    }

    .carousel-caption h2 {
        font-size: 3.5rem; /* Font mediu pentru titlurile din carousel */
    }

    .carousel-caption p {
        font-size: 1.3rem; /* Font mediu pentru descrierea din carousel */
    }

    .events-section h2 {
        font-size: 2.8rem; /* Font mediu pentru titlurile din secțiunea Evenimente */
    }
}

/* Ecrane mici (între 768px și 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .hero-section h2 {
        font-size: 3rem; /* Font mai mic pentru ecrane mici */
    }

    .about-section h2 {
        font-size: 2.5rem; /* Font mai mic pentru ecrane mici */
    }

    .gallery-title {
        font-size: 2.5rem; /* Font mai mic pentru titlurile din galerie */
    }

    .carousel-caption h2 {
        font-size: 3rem; /* Font mai mic pentru titlurile din carousel */
    }

    .carousel-caption p {
        font-size: 1.2rem; /* Font mai mic pentru descrierea din carousel */
    }

    .events-section h2 {
        font-size: 2.5rem; /* Font mai mic pentru titlurile din secțiunea Evenimente */
    }
}

/* Ecrane foarte mici (până la 767px) */
@media (max-width: 767px) {
    .hero-section h2 {
        font-size: 2.5rem; /* Font mic pentru ecrane foarte mici */
    }

    .about-section h2 {
        font-size: 2rem; /* Font mic pentru ecrane foarte mici */
    }

    .gallery-title {
        font-size: 2rem; /* Font mic pentru titlurile din galerie */
    }

    .carousel-caption h2 {
        font-size: 2.5rem; /* Font mic pentru titlurile din carousel */
    }

    .carousel-caption p {
        font-size: 1rem; /* Font mic pentru descrierea din carousel */
    }

    .events-section h2 {
        font-size: 2rem; /* Font mic pentru titlurile din secțiunea Evenimente */
    }

    .about-section p {
        font-size: 1rem; /* Font mai mic pentru textul din secțiunea Despre Noi */
    }

    .gallery-item {
        width: 150px; /* Lățime mai mică pentru elementele din galerie */
    }

    .social-icon {
        font-size: 18px; /* Dimensiune mai mică pentru icon-uri de social media */
    }

    #scrollUpBtn {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }
}
/* @Media End ----------------------------------------- */
